@tailwind base;
@tailwind components;
@tailwind utilities;

.container {}

body {
    background: radial-gradient(circle, rgba(234, 238, 174, 1) 0%, rgba(148, 233, 174, 1) 100%);

    background: rgb(234, 238, 174) url("./map.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 35% top 35%;
    backdrop-filter: blur(0px);
}

@font-face {
    font-family: 'MPLUS1-Black';
    font-style: normal;
    src: local('MPLUS1-Black'), url(./src/MPLUS1-Black.ttf) format('truetype');
}

h1 {
    font-family: 'MPLUS1-Black', Hiragino Sans, sans-serif;
    text-shadow: #FFFFFF 0px 0px 5px;
}

.hutoji {
    font-family: 'MPLUS1-Black', Hiragino Sans, sans-serif;
}